body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #9FE2BF;
    font-family: 'Nunito', sans-serif;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 7500px;  /* Membatasi lebar container */
    width: 90%;  /* Mengatur lebar container agar fleksibel */
    margin: 20px; /* Memberikan margin untuk ruang di sekitar container */
}

.header_text {
    color: #020306;
    margin: 10px 0;
    font-weight: bold;
}

.coffee_image {
    width: 100%;
    max-width: 150px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

.details {
    margin-top: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.btn {
    background-color: #e66098;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 19px;
    margin: 4px 10px;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #c54a7d;
}

#noButton {
    position: relative;
}

@media (max-width: 768px) {
    .header_text {
        font-size: 24px;
    }
    
    .btn {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .header_text {
        font-size: 18px;
    }
    
    .btn {
        padding: 8px 16px;
        font-size: 14px;
    }
    
    .coffee_image {
        max-width: 180px;
    }
}
